:root {
  /* Base Variables (Mode 1 / Default) */
  --primary: #1e1e1e;
  --secondary: #6e4eff;
  --tertiary: #43a58c;

  --app-bg: linear-gradient(180deg, #1e1e1e 0%, #6e4eff 100%);

  /* About Section Variables */
  --bg-about: #1e1e1e;
  --text-about: #fcf8ed;

  /* Team Section Variables */
  --bg-team: transparent;
  --text-team-title: #1e1e1e;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-app-bg: var(--app-bg);

  --color-bg-about: var(--bg-about);
  --color-text-about: var(--text-about);

  --color-text-team-title: var(--text-team-title);
}
